body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;

  max-width: 960px;

  padding-left: 10px;
  padding-right: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 13.5px;
  column-gap: 13.5px;
  row-gap: 13.5px;
}

.section { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__content-column {
  margin-bottom: 42px;
}

.section__title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.045em;
}

.section__subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}

.section__description {
  width: 340px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.card {
  width: 48%;
}

.card:nth-child(2n) {
  margin-top: 48px;
}  

.card__img {
  width: 90%; 
}

.card__name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.card__role {
  vertical-align: top;

  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
}

.footer__content {
  margin: 68px 0px;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    margin-left: 12px;
    margin-right: 12px;
  }

  .section__title-column {
    margin-left: 12px;
  }
  
  .section__title { 
    align-content: flex-start;
    margin: 0px;
  }

  .section__content-column {
    margin-left: 48px;
  }

  .card {
    width: 46%;
    margin-left: auto;
    margin-right: auto;
  }

  .card__img {
    width: 94%; 
  }

  .card__role {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .section {
    margin: 42px 0px;
    flex-flow: row;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    margin: auto;
  }

  .section__content-column {
    padding-right: 42px;
  }

  .section__description {
    font-size: 18px;
    line-height: 27px;
  }
  
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .card {
    width: 32%;
  }

  .card__img {
    max-width: 80%;
  }

  .card:nth-child(2n) {
    margin-top: 0px;
  }

  .card:nth-child(3n+2) {
    margin-top: 48px;
  }
}